<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Introdução ao NodeJS</title>
    </head>
    <body>
        <h1>Página de Home</h1>
        <% var text = 'Working with EJS'; %>
        <p><%= text  %></p>

        <ul>
            <% for(var key in clients){ %>
                <li><%= clients[key].name %> | <%= clients[key].email %></li>
            <% } %>
        </ul>
    </body>
</html>